@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    display: flex;
    color: #E4E4E4;
}

.container_botao {
    font-weight: 500;
    margin: 20px;
    text-align: center;
    border-style: none;
    background-color: #E4E4E4;
    padding: 0.3em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container-pessoas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding: 0.5em 1em;
}

.pessoas {
    font-size: 25px;
    padding: 0.5em;
    margin: 20px;
    background-color: #E4E4E4;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
}


#listaAtletas {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; 
    margin: 70px;
}

.atleta p{
    color: white;
}

.container-principal {
    color: white;
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}
  
h1 {
    margin-right: 20px; 
}
  
label {
    margin-right: 10px; 
}
